# Requirements for running our program

astroid==2.4.2
attrs==20.3.0
autopep8==1.5.6
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cycler==0.10.0
funcparserlib==0.3.6
hypothesis==6.9.2
idna==2.10
isort==4.3.21
Jinja2==2.11.3
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.4.1
mccabe==0.6.1
numpy==1.20.2
pandas==1.2.4
Pillow==8.2.0
pycodestyle==2.7.0
Pygments==2.8.1
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
python-ta==1.6.3
pytz==2021.1
requests==2.25.1
six==1.15.0
sortedcontainers==2.3.0
spotipy==2.18.0
toml==0.10.2
typeguard==2.12.0
urllib3==1.26.4
wrapt==1.12.1